.project-chip {
    text-decoration: none;
    color: var(--on-bg-high-emphasis);
    width: 156px;
    height: 40px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 8px;
    overflow: hidden;
    border: 2px rgba(255, 255, 255, 0.07) solid;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;

    flex: 1 0 calc(50% - 16px);
    /* 50% width with a fixed margin of 16px between items */
    /* margin: 4px 8px; Fixed margin between elements */
}

.project-chip>img {
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.project-chip-selected {
    background: rgba(157, 71, 198, 0.52);
}

@media only screen and (min-width: 768px) {
    .project-chip {
        flex: 1 0 calc(25% - 24px);
        /* 50% width with a fixed margin of 16px between items */

    }
}

@media only screen and (min-width: 905px) {
    .project-chip {
        width: 100%;
        flex: auto;
    }
}


/* .project-chip>div {
    flex: 1 1 0;
    color: white;
    font-size: 12px;
    font-family: Fredoka;
    font-weight: 400;
    letter-spacing: 0.40px;
    word-wrap: break-word
} */