.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px 16px;
}


@media only screen and (min-width: 768px) {
    .project-list {
        gap: 8px 24px;
    }
}

@media only screen and (min-width: 905px) {
    .project-list {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 8px;
        width: 100%;
    }
}