.chip {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font-family: Fredoka;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    border-radius: 0;
    appearance: none;
    padding: 8px 12px;

    background-color: var(--transparent-card);
    border-radius: 20px;
    color: var(---on-bg-high-emphasis);
}